.main-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: calc(100% - 48px);
  background-color: #dbd5d5;

  &__section {
    display: flex;
    justify-content: center;
  }

  &__header {
    text-align: center;
    margin: 0 auto;
    color: #026f00;
    font-size: 24px;
    display: inline-block;
    width: 85%;
  }
}

.section-descr {
  width: 85%;
  max-width: 900px;
  padding: 16px;
  display: flex;
  gap: 16px;
  align-items: center;
  border: 1px solid #8f7979;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;

  &:hover {
    background-color: #f4eaea;
  }

  &:active {
    box-shadow: 1px 1px 31px 7px rgba(23, 97, 35, 0.75);
    -webkit-box-shadow: 1px 1px 31px 7px rgba(23, 97, 35, 0.75);
    -moz-box-shadow: 1px 1px 31px 7px rgba(23, 97, 35, 0.75);
    color: #026f00;
  }

  &__image {
    width: 48px;
    height: 48px;
  }

  &__title {
    margin: 0;
  }
}
